<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

        <title>university database {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="black">university</span><span class="red"> database</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                {% if request.path == "/admin" %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/newcourse">ADD/DELETE COURSE</a></li>
                        <li class="nav-item"><a class="nav-link" href="/newteacher">ADD/DELETE TEACHER</a></li>
                        <li class="nav-item"><a class="nav-link" href="/newstudent">ADD/DELETE STUDENT</a></li>
                        <li class="nav-item"><a class="nav-link" href="/assignstd">ASSIGN STUDENT</a></li>
                        <li class="nav-item"><a class="nav-link" href="/assignteacher">ASSIGN INSTRUCTOR</a></li>
                    </ul>
                {% elif request.path == "/student" %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/studentcourses">COURSES</a></li>
                    </ul>
                {% elif request.path == "/instructor" %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/instructorstudent">STUDENTS</a></li>
                        <li class="nav-item"><a class="nav-link" href="/coursesinstructor">COURSES</a></li>
                    </ul>
                {% endif %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register(admin)</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>



        <main class="container p-5">
            {% block main %}<p class="font-weight-bold">Welcome to the university register website!</p>{% endblock %}
        </main>



    </body>

</html>
